{% extends "base.html.twig" %}

{% block title %}
    update {{ account.plateform }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}

{% block body %}
    <section>
        {{form_start(form)}}

            <div>
                {{ form_label( form.plateform , 'plateform' ) }}
                {{ form_widget( form.plateform ) }}
            </div>
            
            <div>
                {{ form_label( form.login , 'login' ) }}
                {{ form_widget( form.login ) }}
            </div>
            
            <div>
                {{ form_label( form.password , 'password' ) }}
                {{ form_widget( form.password ) }}
            </div>

            <div>

                {{ form_label( form.codeRecup , 'code de récupération' ) }}

                <ul
                    id="collection-fields-list"
                    data-prototype="{{ form_widget(form.codeRecup.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.codeRecup|length }}"
                >
                    {% for codeRecupField in form.codeRecup  %}
                        {{ form_widget( codeRecupField ) }}
                    {% endfor %}
                </ul>

                <button
                    type="button"
                    class="add-another-collection-item"
                    data-list-selector="#collection-fields-list"
                >
                    add code
                </button>

            </div>

            <button type="submit"> 
                modifié
                <i class="fas fa-chevron-right"></i>
            </button>

            <div>
                <a href="{{path("account.details" , {
                    "id": account.id ,
                    "slug": account.slug
                } )}}">
                    retour
                </a>
            </div>
        {{form_end(form)}}
    </section>
{% endblock %}