<li 
    class="account-item"
    data-id-item="{{account.id}}"
    data-slug-item="{{account.slug}}"
    id="item-{{account.id}}"
>

    <h2>
        
        {% if route is defined and route != 'details' %}
            <span class="{{ 
                account.diffDaysLastUpdate >= 20 ? 
                "error" : 
                account.diffDaysLastUpdate >= 10 ? 
                "warning"  : "success" 
            }}" role="img"
            >
            {{ 
                account.diffDaysLastUpdate >= 20 ? 
                "❌" : 
                account.diffDaysLastUpdate >= 10 ? 
                "⚠"  : "✅" 
            }}
            </span>
        {% endif %}&emsp;
        <a href="{{path("account.details" , {
            "id": account.id
            ,"slug": account.slug
        } )}}">        

            {{ account.plateform }}
        </a>
        
        <button
            type="button"
            class="toggle-favorite"
            data-item-selector="#item-{{account.id}}"
        >
            <i class="fa{{account.isFavorite ? "s":"r"}} fa-heart">
            </i>
        </button>
    </h2>

    {% if route is defined and route == 'details' %}
        {% include "core/details-account.html.twig" %}
    {% endif %}
</li>